@*@model List<Mvc_application.Models.Blog>*@
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>



        <p>This is our Home Page</p>

        @*<ul>

                @foreach (var s in Model)
                {
                    <li><a href="@s.Link">@s.Name</a></li>
                }

            </ul>*@
